@charset "utf-8";
/* Go go gadget cascading style sheets */

/* Links */
a:link, a:visited {
	color: navy;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a img {
	border: 0px;
}

/* Body, headings, paragraphs */
body {
	/*background: #efd1ab url(/images/background.jpg) repeat scroll;*/
	background: white;
	margin: 0px;
	padding: 20px;
	
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

hr {
	border: none;
	border-bottom: 1px solid black;
}

h1 {
	margin-top: 0;
}
h1, h2, h3 {
	margin-bottom: .2em;
}

p {
	margin-top: .2em;
}

td {
	vertical-align: top;
}

/* Text style classes */
.smalltext {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
}

.seriftext {
	font-size: 16px;
	font-family: "Times New Roman", Times, Georgia, serif;
}

/* Layout */
#navigation {
	position: absolute;
	width: 150px;
	margin-right: 20px;
	border-right: 1px solid black;
	padding-right: 19px;
}

#navigation ul, #navigation p {
	line-height: 1.5;
	list-style-type: none;
	padding: 0;
	/*margin: 0 0 1em 1em;*/
}

#content {
	/*min-width: 400px;*/
	max-width: 800px;
	/*width: 800px;*/
	margin-left: 169px;
	border-left: 1px solid black;
	padding-left: 20px;
}

/* Helper classes */
ol.top, ul.top {
	margin-top: 0px;
}

.hang {
	text-indent: -3em; margin-left: 3em;
}

.sidebar {
	float: right;
	border: thin solid black;
	width: 200px;
	padding: 2px 2px 2px 2px;
}

.note, .error {
	padding: 5px 5px 5px 32px;
	/* border: 2px solid; */
	border-radius: 8px;
	background-position: 8px 8px;
	background-repeat: no-repeat;
}
.note {
	border-color: navy;
	background-color: lightblue;
	background-image: url(/images/silk/note.png);
}
.error {
	border-color: darkred; /*#cd1616;*/
	background-color: pink; /*#f8926f;*/
	background-image: url(/images/silk/error.png);
}
