<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>{{page.title}}</title>
  </head>
  <body style="padding-top: 70px;padding-bottom:100px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Glowstone</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="https://github.com/GlowstoneMC/Glowstone">Github</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/downloads">Downloads</a>
            </li>
            <li>
              <a href="https://github.com/SpaceManiac/Glowstone/issues">Issue Tracker</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/apidocs">API Docs</a>
            </li>
            <li>
              <a href="https://travis-ci.org/GlowstoneMC/Glowstone">Travis CI</a>
            </li>
            <li>
              <a href="https://webchat.esper.net/?channels=glowstone">Get Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
