<?xml version='1.0'?>
<!DOCTYPE module PUBLIC '-//Puppy Crawl//DTD Check Configuration 1.2//EN' 'http://www.puppycrawl.com/dtds/configuration_1_2.dtd'>
<module name='Checker'>
  <module name='TreeWalker'>
    <property name='tabWidth' value='4'/>
    <module name='GenericWhitespace'/>
    <module name='MethodName'>
      <property name='format' value='^(?:_INVALID_)?[a-z][a-zA-Z0-9_]*$'/><!-- Cover _INVALID_ methodnames -->
    </module>
    <module name='PackageName'/>
    <module name='TypeName'/>
    <module name='IllegalImport'>
      <property name='illegalPkgs' value='net.minecraft.server, org.bukkit.craftbukkit'/>
    </module>
    <module name='RedundantImport'/>
    <module name='NoWhitespaceBefore'>
      <property name='allowLineBreaks' value='true'/>
    </module>
    <module name='WhitespaceAfter'/>
    <module name='WhitespaceAround'>
      <property name='allowEmptyConstructors' value='true'/>
      <property name='allowEmptyMethods' value='true'/>
    </module>
    <module name='LeftCurly'>
      <property name='option' value='eol'/>
    </module>
    <module name='RightCurly'>
      <property name='option' value='same'/>
    </module>
  </module>

  <module name='NewlineAtEndOfFile'>
    <property name='lineSeparator' value='lf'/>
  </module>

  <module name='FileTabCharacter'>
    <property name='eachLine' value='true'/>
  </module>
</module>
